.video{
    
    display: grid;
    grid-template-columns: 75% 25%;
}




//Video Left
.videoL{
    overflow: auto;
    height: 85vh;
    &::-webkit-scrollbar {
        width: 8px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: transparent; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #666; 
        border-radius: 5px;
        
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: #999;
    } 
    padding: 20px;
    padding-bottom: 40px;
    margin-right: 10px;
    &__header{
        position: relative;
        height: 150px;
        margin-top: 20px;
        border-bottom:  2px solid  rgba(216, 216, 216, 0.5);;
    }
    &__img{
        width: 97%;
        margin: auto;
        border-radius: 14px;
        height: 500px;
    }
    &__video{
        position: relative;
    }
    &__stats{
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 0;
        right: 0;
    }
    &__title{
        font-weight: bold;
        margin: 0;
        font-size: 36px;
        width: 70%;
        line-height: 45px;
    }
    &__view{
        font-size: 20px;
        margin-top: 20px;
        line-height: 25px;
        color: #C2C2C2;
        
    }
    .stat{
        padding:10px 20px;
        font-size: 16px;
        line-height: 20px;
        background: #333;
        mix-blend-mode: normal;
        border-radius: 20px;
        margin-right: 10px;
        &:last-child{
            background-color: transparent;
            
        }
    } 
    &__channel{
        position: relative;
        display: flex;
        padding-top: 20px;
        align-items: flex-start;
        
    }
    &__user{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 20px;
    }
    &__subtitle{
        margin: 0%;
    }
    &__date{
        margin-top: 4px;
        font-size: 13px;
        line-height: 16px;
        mix-blend-mode: normal;
        opacity: 0.4;
    }
    &__text{
        font-size: 16px;
        width: 100%;
        line-height: 22px;
        mix-blend-mode: normal;
        opacity: 0.6;
        
    }
    &__content{
        width: 70%;
    }
    &__btn{
        display: block;
        font-size: 16px;
        line-height: 20px;
        padding-top: 10px 20px;
        text-align: center;
        color: #FFFFFF;
        background: #FF0000;
        border-radius: 20px;
        border: none;
        width: 150px;
        height: 40px;
        border-radius: 20px;
    }
    
}

.video__right{
    padding-left: 20px;
}
.next{
    &__title{
        font-weight: bold;
        margin: 0;
        margin-bottom: 20px;
        font-size: 36px;
        line-height: 45px;
    }
    &__wrapper{
        overflow: auto;
        height: 85vh;
        &::-webkit-scrollbar {
            width: 8px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent; 
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #666; 
            border-radius: 5px;
            
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background-color: #999;
        } 
    }
    
}
.next__video{
    margin-bottom: 30px;
}



@media screen and (max-width:400px) {
    .video{
        display: flex;
        flex-direction: column;
    }
    .videoL{
        &__img{
            width: 100%;
            margin: auto;
            border-radius: 14px;
            height: 200px;
        }
        &__stats{
            display: none;
        }
        &__title{
            font-weight: bold;
            margin: 0;
            font-size: 18px;
            width: 100%;
            line-height: 45px;
        }
        &__content{
            position: absolute;
            top: 120px;
            width: 100%;
        }
    }
    
    
}